/*
dark blue: 4882B0;
middle blue: 6EB0C6;
light blue: CDEAEE;
nearly black: 0D1228;
*/
nav ul {
	list-style: none;
	clear: both;
	margin: 5px 10px;
	float: right;
	position: relative;
}

nav ul li {
	float: left;
	margin: 5px 15px;
}
ul.books {
	list-style: none;
	clear: both;
	border-right: 5px solid #696969;
}

ul.books li {
	float: left;
	margin: 7px 0px;
	padding: 2px;
	/*width: 250px;*/
	width: 20px;
	height: 130px;
	overflow: hidden;
	border: 1px solid gray;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	position: relative;
}

ul.books li img.book-cover {
	display: none;
}

ul.books li:hover img.book-cover {
	display: block;
	float: left;
	position: absolute;
	top: 0;	
}

ul.books li:hover {
	background: #CDEAEE;
}

ul.books li a {
	padding: 0;
}

/*h1 {
	clear: both;
}
*/
body {
	padding: 10px 40px;
}

a {
	color: #4882B0;
	text-decoration: none;
	padding: 5px;
	cursor: pointer;
}

a:hover {
	background: #CDEAEE;
	color: #0D1228;
}

footer {
	clear: both;
	border-top: 1px dotted #6EB0C6;
	margin: 10px;
	padding: 10px;
	text-align: right;
}

ul.manage-books {
	list-style: none;
}

ul.manage-books li {
	float: left;
	width: 280px;
	margin: 10px 0;
}

.manage-option ul li {
	margin: 10px;
}

section.book-list, section.manage-option {float: left;}
section.book-list {width: 900px;}
section.manage-option {width: 200px;}

/* add a new book */
#add-book-table {
	width: 600px;
}

#add-book-table tr {
	height: 40px;
}

#add-book-table tr td {
	line-height: 40px;
	width: 160px;
}

#add-book-table tr td input[type=text] {
	width: 260px;
}

#add-book-table td.choice {
}

#add-book-table tr td sup {
	font-style: italic;
	font-size: 11px;
	color: #007722;
}

#add-book-table tr td label {
	cursor: pointer;
}

.one {
	background: #FFFFC0;
}

.two {
	background: #C0FFC0;
}

.three {
	background: #C0FFFF;
}

.four {
	background: #C0C0D7;
}

.five {
	background: #FFC1B3;
}

.six {
	background: #E0E0E0;
}

.seven {
	background: #f5f5f5;
}